<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>카테고리 등록</title>
</head>
<body>
<h1>새 카테고리 등록</h1>

<form th:action="@{/categories/create}" th:object="${categoryForm}" method="post">
    <div>
        <label>카테고리 이름:</label>
        <input type="text" th:field="*{name}" placeholder="카테고리 이름 입력"/>

        <span th:errors="*{name}" style="color:red; font-weight:bold;"></span>
    </div>
    <br>
    <button type="submit">카테고리 등록</button>
    <a th:href="@{/categories}">목록 취소</a>
</form>

<footer>
    <hr>
    <p th:text="${'실습 수행: ' + #temporals.format(#temporals.createNow(), 'yyyy-MM-dd HH:mm:ss')} + '| 학번: 2371463 | 성명: 유민호 '"></p>
</footer>
</body>
</html>